<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ls.shoppingmall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Welcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhy.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".app.MainActivity" />
        <activity android:name=".home.activity.BodySelectActivity" />
        <activity android:name=".home.activity.SearchToServeActivity" />
        <activity android:name=".home.activity.SymptomSelectActivity" />
        <activity android:name=".home.activity.PerfectInformationActivity" />
        <activity android:name=".home.activity.LastInformationActivity" />
        <activity android:name=".HelloWorld" />
        <activity android:name=".user.activity.MyInformationActivity" />
        <activity android:name=".user.activity.MyRestMoneyActivity" />
        <activity android:name=".user.activity.RechargMoneyActivity" />
        <activity android:name=".user.activity.MyOrderActivity" />
        <activity android:name=".user.activity.MessageActivity" />
        <activity android:name=".user.activity.ChoosePhotoActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            />

    </application>

</manifest>